.cart-item {
    border-radius: 15px;
    width: 90vw;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

.cart-item img {
    width: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.item-details {
    padding: 10px;
    flex: 1;
}
.cart-item .delete{
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    right: 20px;
}

.item-details .name .qt{
    color: var(--purple);
    font-weight:bold;
    ;
}
.item-details .name {
    color: #8A8A8A;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
}
.item-details .details{
    display: flex;
}
.item-details .details .pr{
    color: #35BA6A;
    font-weight: 700;
}
.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.proceed-to-checkout {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--purple);  /* Adjust the background color */
    color: #fff; /* Adjust the text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .proceed-to-checkout:hover {
    background-color: var(--purple);  /* Adjust the hover background color */
  }
  
  .cart-heading {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Adjust the color as needed */
  }

  .history .delete{
    display: none!important;
  }
  .history .t{
    margin-left: 10px;
  }
  .history .greyed{
    filter: grayscale(1) !important;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container full height of the viewport */
  }
  
  .loading-gif {
    max-width: 100px; /* Adjust the maximum width of the loading GIF */
    max-height: 100px; /* Adjust the maximum height of the loading GIF */
  }
  